.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: #efeeee;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo{
   display: flex;
   align-items: center;
   gap: 10px;
}
.nav-logo p{
    color: #171717;
    font-size: 28px;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 17px;
    font-weight: 500;
}
.nav-menu1 li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu1 hr{
    border: none;
    width: 60%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(97, 252, 99);
}

.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: rgb(7, 252, 11);
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 100px;
    /* height: 50px; */
    outline: none;
    border: 2px solid rgb(97, 252, 99);
    border-radius: 75px;
    color: #515151;
    font-size: 16px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.btnScreen{
    display: none;
}

.nav-login-cart button:active{
    background: #f3f3f3;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}


@media only  screen and (max-width: 600px){
    .nav-logo{
        gap: 4px;
    }
    .nav-logo p{
        font-size: 18px;
    }
    .nav-menu{
        display: none;
    }
    .nav-login-cart button{
        display: none;
    }
   .btnScreen{
    display: flex;
    align-items: center;
    gap: 45px;
    margin-left: 80px;
   }
   .nav-login-cart{
    margin-left: 60px;
   }
   .nav-logo img{
    width: 40px;
    height: 40px;
   }
   .nav-login-cart img{
    width: 30px;
    height: 30px;
   }
   .btnScreen button{
    width: 70px;
    height: 40px;
    outline: none;
    border: 2px solid rgb(97, 252, 99);
    border-radius: 75px;
    color: #515151;
    font-size: 12px;
    font-weight: 500;
    background: white;
    cursor: pointer;
   }
}

@media only screen and (max-width: 365px) {
    .nav-logo{
        margin-left: 5px;
    }
    .nav-login-cart{
        margin-left: 30px;
    }
    .btnScreen{
        margin-left: 40px;
    }
    .btnScreen button{
        margin-right: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .nav-menu{
        display: none;
    }
    .nav-login-cart button{
        display: none;
    }
    .nav-logo{
        margin-left: 15px;
    }
    .btnScreen{
        display: flex;
        align-items: center;
        gap: 45px;
        margin-left: 160px;
    }
    .btnScreen button{
        width: 80px;
        height: 50px;
        outline: none;
        border: 2px solid rgb(97, 252, 99);
        border-radius: 75px;
        color: #515151;
        font-size: 14px;
        font-weight: 500;
        background: white;
        cursor: pointer;
       }
}

@media only screen and (min-width: 768px) {
    .nav-menu{
        display: none;
    }
    .nav-login-cart button{
        display: none;
    }
    .nav-logo{
        margin-left: 15px;
    }
    .btnScreen{
        display: flex;
        align-items: center;
        gap: 45px;
        margin-left: 160px;
    }
    .btnScreen button{
        width: 80px;
        height: 50px;
        outline: none;
        border: 2px solid rgb(97, 252, 99);
        border-radius: 75px;
        color: #515151;
        font-size: 14px;
        font-weight: 500;
        background: white;
        cursor: pointer;
       }
}

@media only screen and (min-width: 992px) {
    .nav-menu{
        display: block;
        display: flex;
        align-items: center;
        list-style: none;
        gap: 50px;
        color: #626262;
        font-size: 17px;
        font-weight: 500;
    }
    .nav-login-cart button{
        display: block;
    }
    .nav-logo{
        margin-left: 15px;
    }
    .btnScreen{
       display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .nav-menu{
        display: block;
        display: flex;
        align-items: center;
        list-style: none;
        gap: 50px;
        color: #626262;
        font-size: 17px;
        font-weight: 500;
    }
    .nav-login-cart button{
        display: block;
    }
    .nav-logo{
        margin-left: 15px;
    }
    .btnScreen{
       display: none;
    }
}


